# Naro "Nanins" USB auto-configuration rules for udev.
# See udev(7) for syntax.

# Pololu controller device permissions and symlinks
SUBSYSTEM=="usb", ATTRS{idVendor}=="1ffb", ATTRS{idProduct}=="008a", MODE="0664", GROUP="plugdev", SYMLINK+="naro/usc"
SUBSYSTEM=="usb", ATTRS{idVendor}=="1ffb", ATTRS{idProduct}=="00a1", MODE="0664", GROUP="plugdev", SYMLINK+="naro/smc"
