<launch>
  <arg name="conf" default="fish_standard"/>
  <node name="joy_config" pkg="naro_test" type="joy_config.py" output="screen">
    <rosparam command="delete" param="/joy_config"/>
    <rosparam command="load" file="$(find naro_test)/config/joy_config.yaml"/>
    <rosparam command="load" file="$(find naro_test)/config/joy_config/$(arg conf).yaml"/>
  </node>
</launch>
