<launch>
  <node name="joy_node" pkg="joy" type="joy_node">
    <param name="dev" value="/dev/naro/joysticks/blubbel"/>
  </node>
  <node name="blubbel_joy_control" pkg="naro_demo" type="blubbel_joy_control.py" output="screen">
    <rosparam command="load" file="$(find naro_demo)/etc/blubbel_joy_control.yaml"/>
  </node>
</launch>
