  <launch>
  	<!-- launch external IMU driver -->
    <node pkg="myahrs_driver" type="myahrs_driver" name="myahrs_driver">
    	<param name="port" value="/dev/naro/imu" />
    	<param name="baud_rate" value="115200" />
      <param name="frame_id" value="imu_link" /> 
      <param name="parent_frame_id_" value="imuCore_link" /> 
  	</node>
  	<!-- Launch tf -->
  	<include file="$(find naro_tf)/launch/naro_tf.launch" />
  	<!-- launch this node -->
    <node pkg="naro_imu" type="naro_imu_node" name="naro_imu_node" output="screen"/>
  </launch>