<launch>
  <node name="TankPositionRear" pkg="naro_tank_ctrl" type="tank_pos" output="screen">
    <rosparam command="load" file="$(find naro_tank_ctrl)/config/tank_rear.yaml"/>
  </node>
  <node name="TankPositionFront" pkg="naro_tank_ctrl" type="tank_pos" output="screen">
    <rosparam command="load" file="$(find naro_tank_ctrl)/config/tank_front.yaml"/>
  </node>
  <node name="TankCtrlRear" pkg="naro_tank_ctrl" type="tank_ctrl" output="screen">
    <rosparam command="load" file="$(find naro_tank_ctrl)/config/tank_rear.yaml"/>
  </node>
  <node name="TankCtrlFront" pkg="naro_tank_ctrl" type="tank_ctrl" output="screen">
    <rosparam command="load" file="$(find naro_tank_ctrl)/config/tank_front.yaml"/>
  </node>
</launch>