<launch>
  <node name="hallSensor_front" pkg="naro_sensor_srvs" type="hall_sensor" output="screen">
    <rosparam command="load" file="$(find naro_sensor_srvs)/config/hallSensor_front.yaml"/>
  </node>
  <node name="hallSensor_rear" pkg="naro_sensor_srvs" type="hall_sensor" output="screen">
    <rosparam command="load" file="$(find naro_sensor_srvs)/config/hallSensor_rear.yaml"/>
  </node>

  <node name="TankPositionRear" pkg="naro_tank_ctrl" type="tank_pos" output="screen">
    <rosparam command="load" file="$(find naro_tank_ctrl)/config/tank_rear.yaml"/>
  </node>
  <node name="TankPositionFront" pkg="naro_tank_ctrl" type="tank_pos" output="screen">
    <rosparam command="load" file="$(find naro_tank_ctrl)/config/tank_front.yaml"/>
  </node>
  <node name="TankCtrlRear" pkg="naro_tank_ctrl" type="tank_ctrl" output="screen">
    <rosparam command="load" file="$(find naro_tank_ctrl)/config/tank_rear.yaml"/>
  </node>
  <node name="TankCtrlFront" pkg="naro_tank_ctrl" type="tank_ctrl" output="screen">
    <rosparam command="load" file="$(find naro_tank_ctrl)/config/tank_front.yaml"/>
  </node>
</launch>