<launch>
  <group ns="$(optenv ROS_NAMESPACE)">
    <node name="usc_server" pkg="naro_usc_srvs" type="usc_server" respawn="true">
      <rosparam command="load" file="$(find naro_usc_srvs)/etc/usc_server.yaml"/>
      <param name="configuration/file" value="$(find naro_usc_srvs)/etc/usc.xml"/>
    </node>
  </group>
</launch>
