<launch>
  <group ns="$(optenv ROS_NAMESPACE)">
    <arg name="conf" default="fish_standard"/>
    <node name="joy_node" pkg="joy" type="joy_node">
      <param name="dev" value="/dev/naro/joystick"/>
    </node>
    <node name="joy_control" pkg="naro_test" type="joy_control.py" args="$(arg conf)" output="screen">
      <rosparam command="load" file="$(find naro_test)/etc/joy_control.yaml"/>
    </node>
  </group>
</launch>
